#header {
    background-color:grey;
    color:green;
    font:caption;
    border-radius: 10px;
    

}
body{
    width:80%;
    margin:0 auto;
    background: url('../img/wood.jpg');
}

#content {
    background: #f2f2f2;
    border:2px solid gold;
    border-radius: 10px;
    padding: 40 px , 100 px;

}

a:hover {
    padding: 3px;
    border-radius: 5px;
    font-weight: bolder;
}
a.b1,a.b7{
    display:inline-block;
    background:silver;
    border-radius: 5px;

}
a.b2,a.b8{
    display:inline-block;
    background:aqua;
    border-radius: 5px;

}
a.b3,a.b6{
    display:inline-block;
    background:greenyellow;
    border-radius: 5px;
    
}
a.b4,a.b9{
    display:inline-block;
    background:rgba(255, 71, 71, 0.466);
    border-radius: 5px;

}
a.b5{
    display:inline-block;
    background:deepskyblue;
    border-radius: 5px;

}

h1{
    color:gold;
}
p {
    border-bottom: 3px solid aquamarine;

}
h2{
    color:rebeccapurple;
}
h3{
    color:rgb(0, 140, 255);
}
h4{
    color:limegreen;
}
p.special {
    color:darkred;
}
.top-nav a {
    font-weight: bolder;
    
}
#footer {
    background: lemonchiffon;
    font:caption;
    border-radius: 10px;

}
div.red {
    background:rgba(255, 71, 71, 0.466);
    display:inline-block

}
div.blue {
    background:aqua;
    display: inline-block

}
#headingbg{
    background:grey;
    border-radius: 10px;
}
#headingbg1{
    background:darksalmon;
    border-radius: 10px;
}
#t1 {
    background:#fff;

}
#theading {
    background:aquamarine;
    font-weight: bolder;

}